In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Reading in temps data
temps = pd.read_excel("original data/Temps Data full.xls", sheet_name = None)
frames = [df for sheet, df in temps.items()]
temps_full = pd.concat(frames)

In [10]:
# Reading in population data
pop_2001_2016 = pd.read_excel("original data/population-estimates-ab-census-metropolitan-2001-to-current.xlsx",
                             skiprows = [0,1]).dropna(axis = 0)
pop_2016_2020 = pd.read_excel("original data/population-estimates-ab-census-subdivision-municipal-2016-to-current.xlsx",
                             skiprows = [0]).dropna(axis = 0)

In [8]:
pop_2001_2016

,Area,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Calgary,977834.0,1007510.0,1029552.0,1053232.0,1087941.0,1124723.0,1155560.0,1187476.0,1220700.0,1240521.0,1263896.0,1300352.0,1344661.0,1386733.0,1413600.0,1438282.0,1459358.0,1486050.0
1,Edmonton,962323.0,984538.0,1000866.0,1017054.0,1041966.0,1074031.0,1104317.0,1131781.0,1163333.0,1183929.0,1205371.0,1234370.0,1271897.0,1312494.0,1338517.0,1364285.0,1391154.0,1420916.0
3,Rest of Alberta,1117951.0,1136381.0,1152647.0,1168382.0,1191861.0,1124014.0,1152346.0,1172270.0,1188530.0,1199139.0,1209989.0,1228527.0,1250985.0,1268284.0,1273883.0,1272521.0,1270977.0,1275591.0
4,Alberta Total,3058108.0,3128429.0,3183065.0,3238668.0,3321768.0,3421434.0,3514147.0,3595856.0,3678996.0,3732082.0,3789030.0,3874548.0,3981011.0,4083648.0,4144491.0,4196061.0,4243995.0,4307110.0

In [13]:
pop_2001_2016 = pop_2001_2016.melt(id_vars = "Area", var_name = "Year", value_name = "Population")
pop_2001_2016.head()

In [11]:
pop_2016_2020.head()

,Census Division,Census Subdivision,Area Name,Type,2016,2017,2018,2019,2020
0,4801.0,4801003,Cypress County,MD,7849.0,8002.0,7918,7900,7803
1,4801.0,4801006,Medicine Hat,CY,64779.0,64804.0,65120,65181,65527
2,4801.0,4801008,Forty Mile County No. 8,MD,3660.0,3715.0,3806,3783,3724
3,4801.0,4801009,Foremost,VL,552.0,554.0,556,557,558
4,4801.0,4801014,Bow Island,T,2029.0,2035.0,2043,2048,2054